@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");

/*COLORS PALET
color: #002626;
color: #0E4749;
color: #649E82;
color: #C6DBF0;
color: #EDEFDD;
All elements*/

html {
  scroll-behavior: smooth;
  color: #edefdd;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  overflow: auto;
}

/* Importar fuente */

@font-face {
  font-family: codeFont;
  src: url(fonts/SourceCodePro-SemiBold.ttf);
}


/* Estilo escritor */

.selected:after {
    content: '|'; /* the "|" character is also a good option */
    opacity: 0;
    animation: blinking 1s infinite steps(2, jump-none);
}

@keyframes blinking {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}


/*Body style*/

body {
    font-family: 'codeFont';
    background-color: #649e82;
    font-size: 130%;
}


/*Header style*/

header .content {
  border: 2px solid red;
  margin: 8vh auto;
  height: 84vh;
  width: 94vw;
}


/*Presentation style*/
/* El tamaño de presentation será un rectangulo dentro del header.
El tamaño de presentation es el mismo de .content del header */

.presentation h1, .presentation p{
  opacity: 0;
}

.presentation h1{ 
  margin-top: 22vh;
  margin-left: auto;
  margin-right: auto;
  width: 84vw;
  font-size: 8vw;
  text-align: center;
  }

.presentation p{
  padding: 2%;
  font-size: 2vw;
  text-align: center;
}


/* Scroll button style */

.button {
  opacity: 0;
  margin: auto;
  width: min-content;
  height: min-content;
}

.fa.fa-3x.fa-angle-double-down {
	color: #edefdd;
	margin-top: 20px;
}

.fa.fa-3x.fa-angle-double-down:hover {
	color: #C6DBF0;
}


/*Cuerpo style*/

#cuerpo {
  padding: 5% 7%;
}


/*Body titles style*/
#cuerpo h1 {
  font-size: 4vw;
  text-align: center;
  margin-bottom: 6vh;
}


/*Links style*/

a {
  color: #edefdd;
  text-decoration:none;
}


/*Margin Body items*/
.body-item {
  margin: 12vh 0vw;
}


/*About me style*/

#about-me {
  text-align: center;
  margin-top: 0vh;
  height: 80vh;
}

#about-me .content {
  margin: 8vh 0vw;
}

#about-me #box {
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  height: auto;
}

#about-me #box p {
  text-align: justify;
  font-size: 1.9vw;
  margin: auto;
}

#about-me #box #helloSVG {
  margin-right: 5vw;
  width: 100vw; /* you can use % */
  height: auto;
}



/*Project Style*/

.cards {
  margin-top: 10vh;
}


/*Contact Style*/

#contact {
  background-color: #002626;
  padding: 3vw;
}




@media (max-width: 800px) {
  
  nav li a {
    font-size: 95%;
  }

  #presentation h1 {
    font-size: 140%;
  }

  #presentation p {
    font-size: 100%;
  }

  #education h2{
    text-align: center;
  }

}


.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
}
.btn a {
  color: #696969;
}
.cards {
  color: #999999;
  font-family: 'codeFont';
  display: flex;
  justify-content: space-evenly;
}
.cards__item {
  padding: 1rem;
}
.card {
  height: 24vw;
  width: 24vw;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  filter: contrast(100%);
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.card__image--river {
  background-image: url(https://unsplash.it/800/600?image=11);
}
.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
