
/*All elements*/

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*Body style*/

body {
    color: #fff;
    font-family: Arial;
    background-color: rgb(31, 31, 31);
    margin: 0px;
    font-size: 130%;
  }


/*Header style*/

header .background {
  background-image: url("imagenes/fondo.jpg");
  background-size: cover;
  position: absolute;
  height: 650px;
  width: 100%;
  filter: blur(0px);
}

header .content{
    height: 650px;
    text-align: center;
    overflow:auto;
    color: rgb(255, 255, 255);
    padding-bottom:30px;
    position: relative;
  }

header .content p{
  text-align: center;
  line-height: 33px;
}


/*Navbar style*/

nav {
  margin-top: 12px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    display: inline-block;
  }

nav li {
    float:left;
  }

nav li a {
    display: block;
    color: white;
    padding: 14px 16px;
    margin: 10px;
    text-decoration: none;
    font-size:110%;
}

nav li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
  

/*Presentation style*/


#presentation {
  width: 70%;
  height: 60%;
  margin: 30px auto;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

#presentation .background {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
}

#presentation h1 {
  font-size: 6vw;
}


#presentation p {
  font-size:130%;
  margin: 5%;
}


/*Cuerpo style*/

.cuerpo {
  margin: 5% 7%;
}


/*Parrafos style*/

p {
  text-align: justify;
  line-height: 30px;
}


/*Links style*/

a {
  color: #fff;
  text-decoration:none;
}


/*Title sec style*/

.title-sec {
  text-align: center;
}


/*Secs space*/

#about-me, #education, #interests, #projects {
  margin-bottom: 7%;
}



/*Cajas contenedoras de informacion o img style*/
.boxes {  display: flex;
  justify-content:space-between;
  align-items: center;
}

.boxes .info {
  width: 70%;
  height: min-content;
  vertical-align: middle;
}

.boxes .img {
  vertical-align: middle;
}



/*About me style*/

#about-me {
  margin-top: 8%;
}

#about-me .boxes img {
  border-radius: 5%;
  margin: 20px 20px;
}


/*Education*/

/*In education*/

#education .boxes {
  margin-bottom: 0px;
}

/*Colegio*/

#education .boxes img {
  transform: scale(0.8);
}


/*Univerisdad*/


/*Interests*/

#interests p {
  text-align: center;
}


/*Projects*/

#projects .boxes {
  justify-content:space-around;
  margin-top: 5%;
}

#projects img {
  height: 200px;
  width: 200px;
  border-radius: 5%;
}

